@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "./reset.css";

/*! Служебные теги */

body, html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background-color: #34C7C2;
    overflow-x: hidden;
}

a {
    font-size: 18px;
    font-weight: 600;
    color: #C4F5F3;
    text-decoration: none;
    transition: color 250ms ease;
}

a:hover {
    color: #FFFF;
}

.nav a {
    font-size: 14px;
}

h1 {
    color: #FFFF;
    font-size: 48px;
    font-weight: 500;
}

h2 {
    color: #FFFF;
    font-weight: 500;
    font-size: 40px;
}

h3 {
    font-size: 28px;
    font-weight: 500;
}

p {
    font-size: 18px;
    color: #C4F5F3;
    font-weight: 400;
}

.w100 {
    width: 100%;
}

.w400 {
    width: 400px;
    max-width: 100%;
}

/*! Header */

header {
    padding: 0px 120px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 46px;
}

.circle_menu {
    border: 6px solid #FFFFFF;
    height: 28px;
    aspect-ratio: 1;
    border-radius: 100px;
    display: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    align-items: start;
    width: 60vw;
    position: fixed;
    top: 13px;
    right: 13px;
    background-color: #FFF;
    border-radius: 26px;
    gap: 32px;
    padding: 40px 26px 40px 26px;
    z-index: 3;
    opacity: 0;
    transform: translateX(40px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.hamburger .circle_menu {
    border-color: #34C7C2;
    position: absolute;
    top: 10px;
    right: 10px;
}

.hamburger a {
    font-size: 12px;
    color: #5B677A;
}

.hamburger .button {
    border-color: #E4E6EB;
    width: 100%;
}


/*! Первый экран */

.screen_one {
    padding: 0px 120px;
    padding-top: 150px;
    height: 100vh;
    width: 100vw;
    padding-bottom: 64px;
    display: flex;
    gap: 40px;
}

.main_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(50% - 40px);
    justify-content: space-between;
    z-index: 2;
}

.main_text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

.button {
    padding: 14px 32px 14px 32px;
    border: 1.6px #FFFF solid;
    border-radius: 100px;
    color: #FFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag {
    color: #FFFF;
    padding: 12px 20px 12px 20px;
    border: 1.6px #FFFF solid;
    border-radius: 100px;
    background-color: #48CDC8;
    font-size: 14px;
}

.container_text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;

}

.container_broke_buttons {
    width: 100%;
    display: flex;
    gap: 8px;

}

.broke {
    color: #13181F;
    background-color: #FFFF;
}

.broke:hover {
    color: #13181F;
}



.background_photo {
    width: 100%;
    position: absolute;
    bottom: -120px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.bk_photo_1 {
    display: block;
}

.bk_photo_2 {
    display: none;
}

/*! Блок с чёрным фоном*/

.main_inf {
    position: relative;
    z-index: 2;
    display: flex;
    padding: 90px 120px 90px 120px;
    background-color: #13181F;
    border-radius: 100px;
    flex-direction: column;
    gap: 120px;
}

/*! Второй экран */

.second_screen {
    display: flex;
    gap: 40px;
}

.about_description {
    width:80%;
    color: #5B677A;
}

/*! Третий экран */

.our_pools {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.slider {
    background-image: url("/assets/img/first_pool.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 40px;
    width: 100%;
    aspect-ratio: 2/1;
    position: relative;
}

.logo_right {
    position: absolute;
    top: 32px;
    right: 32px;
}

.about_pool_image {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    position: absolute;
    bottom: 0px;
    padding: 32px;
    background: linear-gradient(0deg, rgba(19, 24, 31, 0.9) 0%, rgba(19, 24, 31, 0.7) 60.8%, rgba(19, 24, 31, 0) 100%);

}

.about_first_pool {
    color: #AFB2B2;
}

.right_block {
    display: flex;
    gap: 32px;
    justify-content: flex-end;
    align-items: end;
}

.elipses {
    display: flex;
    gap: 8px;
}

.point {
    border-radius: 100px;
    background-color: #43474D;
    height: 14px;
    aspect-ratio: 1;
}

.point_active {
    background-color: #FFFFFF;
}

.slides {
    display: flex;
    gap: 8px;
}

.button_slide {
    display: flex;
    align-items: center;
    padding: 14px;
    justify-content: center;
    background-color: transparent;
    border: 1.6px solid #FFFF;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 250ms ease;
}

.button_slide:hover {
    transform: scale(1.1);
}

.slider_anim {
    animation-name: slider;
    animation-duration: 600ms;
}

.slider_anim-img {
    animation-name: slider-img;
    animation-duration: 600ms;
}

.button_slide_full {
    flex-grow: 1;
}

.over_img_box {
    position: fixed;
    bottom: 0;
    z-index: 4;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #13181F80;
    flex-direction: column;
    gap: 16px;
    opacity: 0;
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.over_img {
    width: 64%;
    aspect-ratio: 16/9;
    border-radius: 60px;
    border: 12px white solid;
}

.over_menu_close {
    display: block;
    color: white;
    opacity: 0.7;
    transition: opacity 200ms ease;
}
.over_menu_close:hover {
    opacity: 1;
}

.show {
    display: flex;
    opacity: 1;
    transform: translateX(0);
}

@keyframes slider-img {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slider {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }
    33% {
        opacity: 0;
        transform: translateX(-10px);
    }
    66% {
        opacity: 0;
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

/*! Четвёртый экран */

.screen_four {
    display: flex;
    gap: 40px;
}

.equipment {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.equipment_description {
    color: #5B677A;
    width: 70%;
}

.filtration_system_block {
    display: flex;
    flex-direction: column;
    background-color: #1B2029;
    border-radius: 40px;
    padding: 24px;
    justify-content: space-between;
    width: 100%;
    min-height: 280px;
    gap: 16px;
}

.filtration_system_description {
    color: #5B677A;
    width: 80%;
}

/*! Пятый экран */

.fifth_screen {
    padding: 120px;
    width: 100%;
    gap: 40px;
    display: flex;
}

.buttons_connect {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.stroka {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 8px;
}

.link {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    aspect-ratio: 2/1;
    width: 100%;
    background-color: #FFFF;
    border-radius: 28px;
    align-items: flex-start;
    justify-content: flex-end;
    border: 2px solid #FFFF;
}
.phone_and_tg {
    background-color: #FFFF;
}

.email_and_whatsapp {
    background-color: transparent;
}

.contact_white_bk {
    color: #34C7C2;
}

.contact_no_bk {
    color: #FFFF;
}

/*! Нижний блок */

.footer {
    background-color: #13181F;
    display: flex;
    border-radius: 120px 120px 0px 0px;
    padding: 90px 120px 90px 120px;
    width: 100%;
    gap: 40px
}

.official_information {
    gap: 24px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inf {
    color: #5B677A;
}

.dop_content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    align-items: flex-start;
}

.person {
    display: flex;
    flex-direction: row;
    background-color: #1B2029;
    border-radius: 100px;
}

.about_person {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    padding: 12px 24px 12px 16px
}

.name {
    color: #FFFF;
}

.job {
    color: #5B677A;
}

.bottom {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    min-height: 46px;
    width: 100%;
}

.bottom p {
    text-align: right;
}

.avatar {
    border-radius: 100px;
    height: 64px;
}



@media (max-width: 1024px) {
    header {
        margin-top: 20px;
        padding: 0px 60px;
    }

    a {
        font-size: 10px;
    }

    .nav a {
        font-size: 8px;
    }

    p {
        font-size: 10px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 16px;
    }

    .w400 {
        width: 250px;
    }

    .logo_nav {
        width: 44px;
    }

    .nav {
        gap: 24px;
    }

    .button {
        gap: 6px;
        padding: 8px 20px 8px 20px;
    }

    .screen_one {
        padding: 0px 60px;
        padding-top: 90px;
        padding-bottom: 40px;
    }

    .main_container {
        width: calc(50% - 20px);
    }

    .main_text {
        gap: 4px;
    }

    .tag {
        gap: 6px;
        padding: 8px 10px 8px 10px;
        font-size: 8px;
    }

    .container_text {
        gap: 8px;
    }

    .container_broke_buttons {
        gap: 4px;
    }

    .background_photo {
        bottom: -48px;
    }

    .bk_photo_1 {
        display: block;
    }

    .bk_photo_2 {
        display: none;
    }

    .main_inf {
        padding: 48px 60px 48px 60px;
        gap: 60px;
        border-radius: 60px;
    }

    .second_screen {
        gap: 20px;
    }

    .about_description {
        width: 83%;
    }

    .our_pools {
        gap: 8px;
    }

    .slider {
        border-radius: 22px;
    }

    .logo_right {
        width: 44px;
        top: 18px;
        right: 18px;
    }

    .about_pool_image {
        padding: 18px;
        gap: 20px;
    }

    .about_first_pool {
        width: 75%;
    }

    .right_block {
        gap: 16px;
    }

    .elipses {
        gap: 4px;
    }

    .slides {
        gap: 4px;
    }

    .point {
        height: 8px;
    }

    .button_slide {
        border-radius: 10px;
        padding: 8px;
        gap: 6px;
        border: 1px solid #FFFF;
    }

    .button_slide img {
        width: 12px;
    }

    .screen_four {
        gap: 20px ;
    }

    .equipment {
        gap: 4px;
    }

    .shield {
        height: 38px;
    }

    .filtration_system_block {
        padding: 14px;
        border-radius: 22px;
        min-height: 157px;
    }

    .fifth_screen {
        gap: 20px;
        padding: 60px;
    }

    .buttons_connect {
        gap: 4px;
    }

    .stroka {
        gap: 4px;
    }

    .link {
        gap: 4px;
        border-radius: 18px;
        padding: 14px;
    }

    .footer {
        border-radius: 60px 60px 0px 0px;
        gap: 20px;
        padding: 48px 60px 48px 60px
    }

    .official_information {
        gap: 12px;
    }

    .dop_content {
        gap: 12px;
    }

    .avatar {
        height: 36px;
    }

    .about_person {
        gap: 8px;
        padding: 6px 14px 6px 8px
    }
}

@media (max-width: 700px) {
    header {
        padding: 0px 26px;
        margin-top: 22px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }

    a {
        font-size: 14px;
    }

    .w400 {
        width: 180px;
    }

    .nav {
        display: none;
    }

    .circle_menu {
        display: block;
    }

    .logo_nav {
        width: 60px;
    }

    .screen_one {
        padding: 0px 26px;
        padding-top: 115px;
        padding-bottom: 44px;
        height: 100svh;
    }

    .main_container {
        gap: 6px;
        width: 100%;
    }

    .tag {
        padding: 6px 12px 6px 12px;
        gap: 6px;
        border: 1px #FFF solid;
        font-size: 10px;
    }

    .main_text {
        gap: 10px;
    }

    .container_broke_buttons {
        gap: 6px;
        flex-direction: column;
    }

    .button {
        padding: 10px 24px 10px 24px;
        gap: 6px;
        border: 1px solid #FFFFFF;
        border-radius: 100px;
    }

    .background_photo {
        bottom: -26px;
    }

    .bk_photo_1 {
        display: none;
    }

    .bk_photo_2 {
        display: block;
    }

    .main_inf {
        padding: 40px 26px 40px 26px;
        border-radius: 26px;
        gap: 60px;
    }

    .second_screen {
        gap: 18px;
        flex-direction: column;
    }

    .about_description {
        width: 100%;
    }

    .our_pools {
        gap: 10px;
    }

    .slider {
        border-radius: 22px;
        height: 268px;
    }

    .logo_right {
        width: 38px;
        right: 8px;
    }

    .about_pool_image {
        gap: 12px;
        padding: 8px;
        flex-direction: column;
    }

    .right_block {
        gap: 10px;
    }

    .elipses {
        gap: 4px;
    }

    .point {
        height: 6px;
    }

    .slides {
        gap: 4px;
    }

    .button_slide {
        border: 1px solid #FFFFFF;
        border-radius: 8px;
        padding: 6px;
        gap: 4px;
    }

    .button_slide img {
        width: 10px;
    }

    .about_first_pool {
        width: 90%;
    }

    .screen_four {
        gap: 18px;
        flex-direction: column;
    }

    .equipment {
        gap: 6px;
    }

    .shield {
        height: 36px;
    }

    .equipment_description {
        width: 100%;
    }

    .filtration_system_block {
        padding: 14px;
        border-radius: 22px;
    }

    .fifth_screen {
        gap: 18px;
        padding: 60px 26px;
        flex-direction: column-reverse;
    }

    .buttons_connect {
        gap: 6px;
    }

    .stroka {
        gap: 6px;
    }

    .link {
        padding: 14px;
        gap: 6px;
        border-radius: 24px;
        border: 2px solid #FFFFFF;
    }

    .contact_white_bk {
        text-align: left;
        word-break: break-all;
    }

    .contact_no_bk {
        text-align: left;
        word-break: break-all;
    }

    .footer {
        flex-direction: column;
        gap: 18px;
        padding: 40px 26px 40px 26px;
        border-radius: 26px 26px 0px 0px;
    }

    .official_information {
        gap: 18px;
    }

    .dop_content {
        gap: 14px;
    }

    .avatar {
        height: 38px;
    }

    .about_person {
        padding: 8px 14px 8px 10px;
        gap: 10px;
    }

    .bottom {
        gap: 10px;
    }

    .over_img {
        width: 90%;
        border-width: 8px;
        border-radius: 34px;
    }
}
